<div ng-controller="GameController as vm">
	<div ng-show="vm.name==' '">
		<h1>Choose a nick name</h1>
		<div class=col-sm-10>
			<input ng-keypress="vm.fieldSetName()" ng-model="vm.tempName" class="form-control" autocomplete="off" />
		</div>
		<div class=col-sm-2>
			<button class="btn btn-default" ng-click="vm.setName()">Save</button>
		</div>
		<div class=col-sm-12>
			<table>
				<thead>
					<th>
						Rooms
					</th>
				</thead>
				<tbody>
					<tr ng-repeat="room in vm.rooms">
						<td>
							{{room.name}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div ng-show="vm.name!=' '">
		<div ng-class="{'col-xs-6': !vm.isMobile"}>
			<h1 ng-if="!vm.isMobile">Game</h1>
			<div style="border: 1px solid black; width: 100%" id="gameCanvas"></div>
		</div>
		<div ng-if="vm.isMobile">
			<button><</button>
			<button>></button>
		</div>

		<div ng-if="!vm.isMobile" class=col-xs-6>
			<h1>Chat</h1>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="message in vm.messages track by $index">{{message}}</li>
			</ul>

			<div>
				<div class=col-sm-10>
					<input ng-model="vm.textMessage" ng-keypress="vm.fieldSend()" class="form-control" autocomplete="off" />
				</div>
				<div class=col-sm-2>
					<button class="btn btn-default" ng-click="vm.send()">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>